.SubmitForm {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-width: 1px;
	border-style: solid;

	&_Icon {
		width: em(76px);
		height: em(51px);
		margin-bottom: em(40px);
		@include iflaptop {
			width: em(56px);
			height: em(31px);
			margin-bottom: em(20px);
		}
		@include iftablet {
			width: em(56px);
			height: em(31px);
			margin-bottom: em(20px);
		}
		@include ifmobile {
			width: em(56px);
			height: em(31px);
			margin-bottom: em(20px);
		}
	}

	&_Title {
		margin-bottom: em(8px);
		span {
			font-weight: 300;
			font-size: em(40px);
			line-height: 140%;
			@include iflaptop {
				font-size: em(28px);
			}
			@include iftablet {
				font-size: em(24px);
			}
			@include ifmobile {
				font-size: em(24px);
			}
		}
	}
	&_Subtitle {
		span {
			font-weight: 300;
			font-size: em(24px);
			line-height: 140%;
			@include iflaptop {
				font-size: em(18px);
			}
			@include iftablet {
				font-size: em(16px);
			}
			@include ifmobile {
				font-size: em(16px);
			}
		}
	}
}
