$black: #121212;
$body: #222222;
$body2: #f0f0f0;
$text: #2d2d2d;
$orange: #b49635;
$green: #14422c;
$white: #ffffff;
$red: #dc4945;
$tag_bg: #222222;
$blue: #5197db;
$grey: rgba(26, 26, 26, 0.2);

$speed: 0.3s;
$navbar-height: 70px;
$top-padding: calc($navbar-height + 105px);
