.BaseContainer {
	@include iflaptop {
		padding: 0 em(40px);
	}
	@include iftablet {
	}
	@include ifmobile {
	}
}
.Solutions {
	padding-top: em(105px);
	padding-bottom: em(126px);
	@include iflaptop {
		padding-top: em(79px);
		padding-bottom: em(79px);
	}
	@include iftablet {
		padding-top: em(70px);
		padding-bottom: em(50px);
	}
	@include ifmobile {
		padding-top: em(60px);
		padding-bottom: em(50px);
	}

	&_Platform {
		margin-bottom: em(150px);
		@include iflaptop {
			margin-bottom: em(80px);
		}
		@include iftablet {
			margin-bottom: em(80px);
		}
		@include ifmobile {
			margin-bottom: em(50px);
		}
		&_Title {
			margin-bottom: em(20px);
			@include iflaptop {
				margin-bottom: em(31px);
			}
			@include iftablet {
				margin-bottom: em(34px);
			}
			@include ifmobile {
				margin-bottom: em(16px);
			}
			h2 {
				color: $white;
				font-weight: 400;
				font-size: em(40px);
				line-height: 140%;
				@include iflaptop {
					font-size: em(35px);
				}
				@include iftablet {
					font-size: em(30px);
				}
				@include ifmobile {
					font-size: em(20px);
				}
			}
		}

		&_Subtitle {
			margin-bottom: em(74px);
			@include iflaptop {
				margin-bottom: em(107px);
			}
			@include iftablet {
				margin-bottom: em(88px);
			}
			@include ifmobile {
				margin-bottom: em(91px);
			}
			p {
				font-weight: 300;
				font-size: em(18px);
				line-height: 140%;
				color: $white;
				@include iflaptop {
					font-size: em(16px);
				}
				@include iftablet {
					font-size: em(16px);
				}
				@include ifmobile {
					font-size: em(14px);
				}
			}
		}

		&_Content {
			position: relative;
			display: grid;
			grid-template-columns: 1fr;
			border-left: 2px solid $orange;
			@include ifdesktop {
				grid-template-columns: repeat(5, 1fr);
				border-left: none;
				border-bottom: 2px solid $orange;
			}

			.Triangle {
				position: absolute;
				bottom: em(-7px);
				right: -1px;
				width: 0;
				height: 0;
				border-top: em(6px) solid transparent;
				border-left: em(10px) solid $orange;
				border-bottom: em(6px) solid transparent;
				@include iflaptop {
					right: auto;
					bottom: em(-4px);
					left: em(-6px);
					transform: rotate(90deg);
				}
				@include iftablet {
					right: auto;
					bottom: em(-4px);
					left: em(-6px);
					transform: rotate(90deg);
				}
				@include ifmobile {
					right: auto;
					bottom: em(-4px);
					left: em(-6px);
					transform: rotate(90deg);
				}
			}

			.ProcessStep {
				position: relative;
				padding: em(47px) em(50px) em(80px) 0;
				@include iflaptop {
					padding: 0 em(50px) em(80px) em(210px);
					min-height: em(156px);
					&:nth-child(2) .ProcessStep_Number {
						left: em(185px);
					}
					&:nth-child(2) .ProcessStep_Description {
						max-width: em(244px);
					}
					&:nth-child(3) .ProcessStep_Description {
						max-width: em(332px);
					}
					&:nth-child(4) .ProcessStep_Description {
						max-width: em(383px);
					}
					&:nth-child(5) .ProcessStep_Description {
						max-width: em(377px);
					}
					&:nth-child(6) .ProcessStep_Description {
						max-width: em(498px);
					}
				}
				@include iftablet {
					padding: 0 em(50px) em(80px) em(210px);
					min-height: em(156px);
					&:nth-child(2) .ProcessStep_Number {
						left: em(185px);
					}
					&:nth-child(2) .ProcessStep_Description {
						max-width: em(244px);
					}
					&:nth-child(3) .ProcessStep_Description {
						max-width: em(332px);
					}
					&:nth-child(4) .ProcessStep_Description {
						max-width: em(383px);
					}
					&:nth-child(5) .ProcessStep_Description {
						max-width: em(377px);
					}
					&:nth-child(6) .ProcessStep_Description {
						max-width: em(498px);
					}
				}
				@include ifmobile {
					padding: 0 0 0 em(60px);
					min-height: em(143px);
					&:nth-child(2) .ProcessStep_Number {
						left: em(44px);
					}
					& .ProcessStep_Description {
						max-width: 100%;
					}
				}

				&_Number {
					position: absolute;
					top: 0;
					left: em(-30px);
					@include iflaptop {
						top: em(-50px);
						left: em(174px);
					}
					@include iftablet {
						top: em(-50px);
						left: em(174px);
					}
					@include ifmobile {
						top: em(-45px);
						left: em(44px);
					}

					span {
						font-weight: 600;
						font-size: em(120px);
						line-height: 100%;
						color: rgba(180, 150, 53, 0.25);
						@include ifmobile {
							font-size: em(100px);
						}
					}
				}

				&_Label {
					position: relative;
					margin-bottom: em(5px);
					@include iflaptop {
						margin-top: em(-10px);
					}
					@include iftablet {
						margin-top: em(-10px);
					}
					@include ifmobile {
						margin-top: em(-10px);
					}
					span {
						color: $white;
						font-weight: 400;
						font-size: em(22px);
						line-height: 140%;
						@include iftablet {
							font-size: em(20px);
						}
						@include ifmobile {
							font-size: em(20px);
						}
					}
				}

				&_Description {
					position: relative;
					P {
						color: $white;
						font-weight: 300;
						font-size: em(18px);
						line-height: 140%;
						@include iflaptop {
							font-size: em(16px);
						}
						@include iftablet {
							font-size: em(16px);
						}
						@include ifmobile {
							font-size: em(14px);
						}
					}
				}

				&_Line {
					position: absolute;
					bottom: 0;
					left: -1px;
					width: 1px;
					height: em(78px);
					background: rgba(255, 255, 255, 0.2);
					transform: rotate(-180deg);
					@include iflaptop {
						top: em(6px);
						bottom: auto;
						left: -1px;
						width: em(140px);
						height: 1px;
						transform: rotate(-180deg);
					}
					@include iftablet {
						top: em(6px);
						bottom: auto;
						left: -1px;
						width: em(140px);
						height: 1px;
						transform: rotate(-180deg);
					}
					@include ifmobile {
						top: em(6px);
						bottom: auto;
						left: -1px;
						width: em(37px);
						height: 1px;
						transform: rotate(-180deg);
					}
				}

				&_Dot {
					position: absolute;
					border-radius: 100%;
					background: $body;
					width: em(12px);
					height: em(12px);
					border: 2px solid $orange;
					bottom: em(-7px);
					left: em(-6px);
					@include iflaptop {
						bottom: auto;
						top: 0;
						left: em(-7px);
					}
					@include iftablet {
						bottom: auto;
						top: 0;
						left: em(-7px);
					}
					@include ifmobile {
						bottom: auto;
						top: 0;
						left: em(-7px);
					}
				}
			}
		}
	}

	&_CustomerGroups {
		margin-bottom: em(163px);
		@include iflaptop {
			margin-bottom: em(100px);
		}
		@include iftablet {
			margin-bottom: em(78px);
		}
		@include ifmobile {
			margin-bottom: em(60px);
		}

		&_Title {
			margin-bottom: em(70px);
			@include iflaptop {
				margin-bottom: em(30px);
			}
			@include iftablet {
				margin-bottom: em(30px);
			}
			@include ifmobile {
				margin-bottom: em(20px);
			}
			h2 {
				color: $white;
				font-weight: 400;
				font-size: em(40px);
				line-height: 140%;
				@include iflaptop {
					font-size: em(35px);
				}
				@include iftablet {
					font-size: em(30px);
				}
				@include ifmobile {
					font-size: em(20px);
				}
			}
		}

		&_Content {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 0 em(33px);
			@include iflaptop {
				gap: 0 em(14px);
			}
			@include iftablet {
				grid-template-columns: 1fr 1fr;
				gap: em(35px) em(23px);
			}
			@include ifmobile {
				grid-template-columns: 1fr;
				gap: em(16px) 0;
			}

			.Group {
				display: flex;
				flex-direction: column;
				align-items: center;
				background: #2d2d2d;
				border: 1px solid rgba(255, 255, 255, 0.2);
				box-shadow: 11px 10px 10px rgba(0, 0, 0, 0.15);
				border-radius: em(8px);
				padding: em(52px) em(28px);
				@include iflaptop {
					padding: em(30px) em(9px);
				}
				@include iftablet {
					padding: em(30px) em(9px);
				}
				@include ifmobile {
					min-height: em(311px);
					padding: em(20px) em(9px);
				}

				&:nth-child(1) .Group_Icon {
					width: em(100px);
					height: em(78px);
					@include iflaptop {
						width: em(80px);
						height: em(62px);
					}
				}
				&:nth-child(2) .Group_Icon {
					width: em(83px);
					height: em(90px);
					@include iflaptop {
						width: em(56px);
						height: em(60px);
					}
					@include iftablet {
						width: em(70px);
						height: em(75px);
					}
					@include ifmobile {
						width: em(70px);
						height: em(75px);
					}
				}
				&:nth-child(3) .Group_Icon {
					width: em(100px);
					height: em(100px);
					@include iflaptop {
						width: em(62px);
						height: em(62px);
					}
					@include iftablet {
						width: em(93px);
						height: em(93px);
					}
					@include ifmobile {
						width: em(93px);
						height: em(93px);
					}
				}
				&:nth-child(4) .Group_Icon {
					width: em(98px);
					height: em(91px);
					@include iflaptop {
						width: em(72px);
						height: em(62px);
					}
					@include iftablet {
						width: em(95px);
						height: em(88px);
					}
					@include ifmobile {
						width: em(95px);
						height: em(88px);
					}
				}

				&_Icon {
					margin-bottom: em(25px);
					@include iflaptop {
						margin-bottom: em(20px);
					}
					@include iftablet {
					}
					@include ifmobile {
					}
				}

				&_Name {
					color: $white;
					font-weight: 300;
					line-height: 140%;
					text-align: center;
					font-size: em(16px);
					@include ifdesktop {
						font-size: em(18px);
					}
				}
				&_Border {
					width: em(50px);
					height: 1px;
					opacity: 0.1;
					background: $white;
					margin: em(12px) 0;
					@include iflaptop {
						margin: em(8px) 0;
					}
					@include iftablet {
						margin: em(8px) 0;
					}
					@include ifmobile {
					}
				}
			}
		}
	}

	&_Options {
		&_Title {
			max-width: em(873px);
			margin-bottom: em(70px);
			@include iflaptop {
				margin-bottom: em(60px);
			}
			@include iftablet {
				margin-bottom: em(40px);
			}
			@include ifmobile {
				margin-bottom: em(36px);
			}
			h2 {
				color: $white;
				font-weight: 400;
				font-size: em(40px);
				line-height: 140%;
				@include iflaptop {
					font-size: em(35px);
				}
				@include iftablet {
					font-size: em(30px);
				}
				@include ifmobile {
					font-size: em(20px);
				}
			}
		}

		&_Content {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 0 em(132px);
			@include iflaptop {
				gap: 0 em(38px);
			}
			@include iftablet {
				gap: 0 em(17px);
			}
			@include ifmobile {
				grid-template-columns: 1fr;
				gap: em(40px) 0;
			}
			.OptionsPlan {
				display: flex;
				flex-direction: column;
				&_Header {
					margin-bottom: em(30px);
					@include iflaptop {
						margin-bottom: em(38px);
					}
					@include iftablet {
						margin-bottom: em(20px);
					}
					@include ifmobile {
						margin-bottom: em(20px);
					}
					h2 {
						color: $white;
						font-weight: 400;
						font-size: em(30px);
						line-height: 140%;
						text-transform: uppercase;
						@include iflaptop {
							font-size: em(24px);
						}
						@include iftablet {
							font-size: em(20px);
						}
						@include ifmobile {
							font-size: em(20px);
						}
					}
				}

				&_Body {
					background: #f0f0f0;
					border: 1px solid rgba(26, 26, 26, 0.4);
					box-shadow: 20px 18px 6px rgba(0, 0, 0, 0.2);
					border-radius: em(6px);
					display: flex;
					flex-direction: column;
					flex: 1 auto;
					padding: em(40px) em(55px) em(40px) em(70px);
					@include iflaptop {
						padding: em(40px) em(30px) em(40px) em(45px);
					}
					@include iftablet {
						padding: em(30px) em(20px) em(30px) em(40px);
					}
					@include ifmobile {
						padding: em(30px) em(10px) em(30px) em(30px);
					}
				}
				&_List {
					margin-bottom: em(32px);
					border-left: 1px solid #b49635;
					@include iflaptop {
						margin-bottom: em(40px);
					}
					@include iftablet {
						margin-bottom: em(40px);
					}
					@include ifmobile {
						margin-bottom: em(40px);
					}
					&_Step {
						position: relative;
						display: flex;
						flex-direction: row;
						align-items: center;
						padding-left: em(39px);
						margin-bottom: em(62px);
						&:last-child {
							margin-bottom: 0;
						}

						@include iftablet {
							padding-left: em(29px);
							margin-bottom: em(46px);
						}
						@include ifmobile {
							padding-left: em(29px);
							margin-bottom: em(46px);
						}

						&_Number {
							position: absolute;
							top: em(-4px);
							left: em(-16px);
							width: em(30px);
							height: em(30px);
							background: #f0f0f0;
							border: 1px solid #b49635;
							border-radius: 100%;
							display: flex;
							justify-content: center;
							align-items: center;
							span {
								font-weight: 300;
								font-size: em(16px);
								line-height: 100%;
								color: rgba(26, 26, 26, 0.7);
							}
						}
						&_Label {
							span {
								font-weight: 400;
								line-height: 140%;
								color: #383838;
								font-size: em(16px);
								@include ifdesktop {
									font-size: em(20px);
								}
							}
						}
					}
				}
				&_Button {
					margin: 0 auto;
					margin-top: auto;
				}
			}
		}
	}
}

@include iflaptop {
}
@include iftablet {
}
@include ifmobile {
}
