.BaseTextarea {
	position: relative;
	display: flex;
	flex-direction: column;
}

.Textarea {
	width: 100%;
	height: 100%;
	max-height: em(140px);
	transition: 0.5s ease all;
	-moz-transition: 0.5s ease all;
	-webkit-transition: 0.5s ease all;
	cursor: text;
	border: none;
	border-radius: 0;
	position: relative;
	box-shadow: none;
	background: transparent;
	transition: 0.5s ease all;
	-moz-transition: 0.5s ease all;
	-webkit-transition: 0.5s ease all;
	box-sizing: border-box;
	padding: em(20px) 0 em(3px);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);

	&_Input {
		display: flex;
		width: 100%;
		height: 100%;
		resize: none;
		line-height: 140%;
		font-size: em(16px);
		font-weight: 300;
		color: $white;
		font-family: 'Montserrat', sans-serif;
		background: none;
		outline: none;
		border: none;
		position: relative;
		box-shadow: none;
		@include placeholder-color(rgba(26, 26, 26, 0));
		@include ifdesktop {
			font-size: em(20px);
		}

		resize: none;
		line-height: 100%;
		width: 100%;
		height: 100%;
		background: none;
		outline: none;
		border: none;
		position: relative;
		box-shadow: none;

		&::-webkit-scrollbar {
			width: em(4px);
		}

		&::-webkit-scrollbar-thumb {
			background: rgba(255, 255, 255, 0.2);
			border-radius: 100px;
		}
	}

	&:hover {
		border-color: $white;
	}

	& + .NoEmpty {
		$size: 12px;
		font-size: em(12px);
		left: 0;
		top: 0;
	}
}

.Focus {
	border-color: $white;
	.Textarea_Input {
		@include placeholder-color(rgba(26, 26, 26, 0.7));
	}
}

//disabled style
.Textarea:disabled,
.Textarea:disabled:hover,
.Textarea:disabled:focus {
	cursor: not-allowed;
	pointer-events: none;
	background: #f4f4f5;
	border: 1px solid #e5e7eb !important;
	color: rgba(26, 26, 26, 0.5);
}

.Error {
	border-bottom: 1px solid #ef4343 !important;
}

.ErrorText {
	font-size: em(12px);
	font-family: 'Montserrat', sans-serif;
	line-height: 100%;
	color: #ef4343;
	display: block;
	margin-top: em(10px);
	font-weight: 300;
}

.Label {
	position: absolute;
	pointer-events: none;
	font-size: em(14px);
	top: em(20px);
	left: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	line-height: 100%;
	color: rgba(255, 255, 255, 0.7);
	transition: all 0.3s ease;
}
