.BaseContainer {
	@media only screen and (min-width: 769px) and (max-width: 1400px) {
		padding: 0 em(40px);
	}
}
.Problems {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-top: em(70px);
	padding-bottom: em(64px);
	@include iflaptop {
		padding-top: em(70px);
		padding-bottom: em(40px);
	}
	@include iftablet {
		padding-top: em(50px);
		padding-bottom: em(31px);
	}
	@include ifmobile {
		padding-top: em(40px);
		padding-bottom: em(78px);
	}

	&_Title {
		margin-bottom: em(20px);
		@include ifmobile {
			margin-bottom: em(16px);
		}
		h2 {
			color: $black;
			font-weight: 400;
			font-size: em(40px);
			line-height: 140%;
			@include iflaptop {
				font-size: em(35px);
			}
			@include iftablet {
				font-size: em(30px);
			}
			@include ifmobile {
				font-size: em(20px);
			}
		}
	}

	&_Subtitle {
		margin-bottom: em(41px);
		@include iflaptop {
			margin-bottom: em(68px);
		}
		@include iftablet {
			margin-bottom: em(52px);
		}
		@include ifmobile {
			margin-bottom: em(77px);
		}
		p {
			font-weight: 300;
			font-size: em(18px);
			line-height: 140%;
			color: $black;
			@include iflaptop {
				font-size: em(16px);
			}
			@include iftablet {
				font-size: em(16px);
			}
			@include ifmobile {
				font-size: em(14px);
			}
		}
	}

	&_NextWay {
		position: relative;
		margin-left: auto;
		padding-right: em(60px);
		@include iflaptop {
			padding-right: em(30px);
		}
		@include iftablet {
			padding-right: em(30px);
		}
		@include ifmobile {
			display: none;
		}
		span {
			font-weight: 400;
			font-size: em(30px);
			line-height: 140%;
			text-transform: uppercase;
			color: $orange;
			@include iflaptop {
				font-size: em(24px);
			}
			@include iftablet {
				font-size: em(20px);
			}
		}
		svg {
			position: absolute;
			z-index: 100;
			top: em(12px);
			right: 0;
			width: em(283px);
			height: em(326px);
			@include iflaptop {
				top: 0;
				width: em(201.93px);
				height: em(243px);
			}
			@include iftablet {
				top: 0;
				width: em(178.5px);
				height: em(202px);
			}
		}
	}

	&_Content {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: em(94px);
		position: relative;

		@media only screen and (min-width: 769px) and (max-width: 1400px) {
			flex-direction: column;
			justify-content: space-between;
			margin-bottom: em(30px);
		}

		@include iftablet {
			flex-direction: column;
			justify-content: space-between;
			margin-bottom: em(30px);
		}
		@include ifmobile {
			flex-direction: column;
			margin-bottom: 0;
		}

		&_Spiral {
			position: absolute;
			width: em(343px);
			height: em(548px);
			top: em(44px);
			left: calc(50% - em(171px));
			@media only screen and (min-width: 769px) and (max-width: 1400px) {
				width: em(275px);
				height: em(650px);
				top: 0;
				left: 0;
			}
			@include iftablet {
				width: em(228px);
				height: em(538px);
				top: em(19px);
				left: 0;
			}
			@include ifmobile {
				width: em(236px);
				height: em(677px);
				top: em(-61px);
				left: em(-8px);
			}

			&_IconDesktop {
				width: inherit;
				height: inherit;
				display: none;
				@media only screen and (min-width: 1401px) {
					display: block;
				}
			}

			&_IconTablet {
				display: none;
				width: inherit;
				height: inherit;
				@media only screen and (min-width: 601px) and (max-width: 1400px) {
					display: block;
				}
			}

			&_IconMobile {
				display: none;
				width: inherit;
				height: inherit;
				@include ifmobile {
					display: block;
				}
			}

			&_Gradient {
				width: em(102px);
				height: em(62px);
				position: absolute;
				z-index: 10;
				top: em(-28px);
				left: em(120px);
				background: linear-gradient(
					90deg,
					#f0f0f0 5.05%,
					rgba(240, 240, 240, 0) 100%
				);
				@media only screen and (min-width: 769px) and (max-width: 1400px) {
					left: em(93px);
				}
				@include iftablet {
					left: em(77px);
				}
				@include ifmobile {
					top: em(-5px);
					left: em(77px);
				}
			}
		}

		&_Column1,
		&_Column2 {
			display: grid;
			grid-template-columns: 1fr;
			gap: em(24px) 0;
			height: max-content;
			position: relative;
			z-index: 200;
			@media only screen and (min-width: 769px) and (max-width: 1400px) {
				gap: em(16px) 0;
			}
			@include iftablet {
				gap: em(12px) 0;
			}
			@include ifmobile {
				gap: em(12px) 0;
			}

			.ProblemItem {
				position: relative;
				display: grid;
				grid-template-columns: em(180px) 1fr;
				padding: em(38px) em(47px) em(38px) em(24px);
				width: auto;
				height: auto;
				max-width: em(595px);
				min-height: em(277px);
				gap: 0 em(32px);
				border-radius: em(6px);
				background: $white;
				border: 1px solid rgba(26, 26, 26, 0.4);
				filter: drop-shadow(20px 18px 6px rgba(0, 0, 0, 0.09));

				&_Triangle {
					position: absolute;
					z-index: 1000;
					border: 1px solid rgba(26, 26, 26, 0.4);
					right: em(-24px);
					top: calc(50% - em(30px));
					clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
					transform: rotate(-135deg);
					border-radius: 0 0 0 em(6px);
					width: em(50px);
					height: em(50px);
					@media only screen and (min-width: 769px) and (max-width: 1400px) {
						left: em(-20px);
						transform: rotate(45deg);
						top: calc(50% - em(15px));
						display: block;
						width: em(40px);
						height: em(40px);
					}
					@include iflaptop {
						left: em(-20px);
						transform: rotate(45deg);
						top: calc(50% - em(15px));
						display: block;
						width: em(40px);
						height: em(40px);
					}
					@include iftablet {
						left: em(-14px);
						transform: rotate(45deg);
						top: calc(50% - em(15px));
						display: block;
						width: em(30px);
						height: em(30px);
						border-radius: 0 0 0 em(4px);
					}
					@include ifmobile {
						left: em(-15px);
						transform: rotate(45deg);
						top: calc(50% - em(15px));
						display: block;
						width: em(30px);
						height: em(30px);
						border-radius: 0 0 0 em(4px);
					}

					&::before {
						content: '';
						position: absolute;
						z-index: 1000;
						display: block;
						background: $white;
						border-radius: 0 0 0 em(5px);
						left: 50%;
						transform: translate(-50%, 0%);
						width: em(48px);
						height: em(48px);
						clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
						@media only screen and (min-width: 769px) and (max-width: 1400px) {
							width: em(38px);
							height: em(38px);
						}
						@include iflaptop {
							width: em(38px);
							height: em(38px);
						}
						@include iftablet {
							width: em(28px);
							height: em(28px);
							border-radius: 0 0 0 em(3px);
						}
						@include ifmobile {
							width: em(28px);
							height: em(28px);
							border-radius: 0 0 0 em(3px);
						}
					}
				}

				@media only screen and (min-width: 769px) and (max-width: 1400px) {
					grid-template-columns: em(100px) 1fr;
					padding: em(30px) em(36px) em(30px) em(37px);
					max-width: em(598px);
					min-height: em(148px);
					gap: 0 em(32px);
					margin-left: em(347px);
				}

				@include iftablet {
					grid-template-columns: em(72px) 1fr;
					padding: em(20px) em(22px) em(20px) em(22px);
					max-width: em(450px);
					min-height: em(115px);
					gap: 0 em(20px);
					margin-left: auto;
				}
				@include ifmobile {
					grid-template-columns: 1fr;
					padding: em(20px) em(14px) em(20px) em(18px);
					max-width: em(290px);
					min-height: em(137px);
					gap: 0 em(20px);
					margin-left: auto;
					background: $white;
					border: 1px solid rgba(26, 26, 26, 0.4);
					box-shadow: 20px 18px 6px rgba(0, 0, 0, 0.05);
				}

				&_Icon {
					width: em(180px);
					height: em(180px);
					align-self: center;
					position: relative;
					@media only screen and (min-width: 769px) and (max-width: 1400px) {
						width: em(100px);
						height: em(100px);
					}
					@include iftablet {
						width: em(80px);
						height: em(80px);
					}
					@include ifmobile {
						position: absolute;
						top: em(10px);
						left: em(18px);
						width: em(57px);
						height: em(57px);
					}
				}

				&_Body {
					align-self: center;
					position: relative;
					&_Title {
						margin-bottom: em(20px);
						@media only screen and (min-width: 769px) and (max-width: 1400px) {
							margin-bottom: em(16px);
						}
						@include iftablet {
							margin-bottom: em(10px);
						}
						@include ifmobile {
							max-width: em(173px);
							margin-bottom: em(18px);
							margin-left: em(70px);
						}
						span {
							font-weight: 400;
							font-size: em(22px);
							line-height: 140%;
							color: #242424;
							@media only screen and (min-width: 769px) and (max-width: 1400px) {
								font-size: em(20px);
							}
							@include iftablet {
								font-size: em(18px);
							}
							@include ifmobile {
								font-size: em(16px);
							}
						}
					}
					&_Subtitle {
						font-weight: 300;
						font-size: em(18px);
						line-height: 140%;
						color: #222222;
						@media only screen and (min-width: 769px) and (max-width: 1400px) {
							font-size: em(16px);
						}
						@include iftablet {
							font-size: em(14px);
						}
						@include ifmobile {
							font-size: em(12px);
						}
					}
				}
			}
		}

		&_Column1 {
			padding-top: em(45px);
			@media only screen and (min-width: 769px) and (max-width: 1400px) {
				padding-top: 0;
				margin-bottom: em(16px);
			}
			@include iftablet {
				padding-top: 0;
				margin-bottom: em(12px);
			}
			@include ifmobile {
				padding-top: 0;
				margin-bottom: em(12px);
			}
		}

		&_Column2 {
			.ProblemItem {
				&_Triangle {
					left: em(-24px);
					transform: rotate(45deg);
					@media only screen and (min-width: 769px) and (max-width: 1400px) {
						left: em(-20px);
					}
					@include iflaptop {
						left: em(-20px);
					}
					@include iftablet {
						left: em(-14px);
					}
					@include ifmobile {
						left: em(-15px);
					}
				}
				@media only screen and (min-width: 1401px) {
					padding: em(38px) em(35px) em(38px) em(36px) !important;
				}
			}
		}
	}
}

@media only screen and (min-width: 769px) and (max-width: 1400px) {
}

@include iflaptop {
}
@include iftablet {
}
@include ifmobile {
}
