.WidgetTooltip {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: em(455px);
	right: 0;
	top: em(34px);
	z-index: 100;
	background: #2d2d2d;
	border-radius: em(10px);
	@include iftablet {
		width: em(346px);
	}
	@include ifmobile {
		width: em(340px);
		top: em(-55px);
	}
	&_Hide {
		display: none;
	}
	&_Wrapper {
		position: relative;
		padding: em(30px);
		@include iftablet {
			padding: em(22px) em(18px);
		}
		@include ifmobile {
			padding: em(22px) em(16px);
		}
	}

	&_Close {
		cursor: pointer;
		position: absolute;
		top: em(18px);
		right: em(18px);
		width: em(24px);
		height: em(24px);
		transition: all $speed ease-in-out;
		@include iftablet {
			top: em(16px);
			right: em(16px);
		}
		@include ifmobile {
			top: em(16px);
			right: em(16px);
		}
		&:hover {
			transform: rotate(180deg);
		}
	}

	&_Header {
		@include ifmobile {
			max-width: em(270px);
		}
		span {
			font-weight: 300;
			font-size: em(17px);
			color: $white;
			@include iftablet {
				font-size: em(14px);
			}
			@include ifmobile {
				font-size: em(16px);
			}
		}
	}

	&_Markers {
		margin-top: em(18px);
		display: flex;
		flex-direction: row;
		align-items: center;
		@include iftablet {
		}
		@include ifmobile {
		}
		li {
			display: flex;
			justify-content: center;
			min-width: em(21px);
			margin-right: em(6px);
			padding: em(3px) em(7px);
			border-radius: em(4px);
			background: #14422c;
			@include iftablet {
			}
			@include ifmobile {
			}
			&:last-child {
				margin-right: 0;
			}
			span {
				text-transform: uppercase;
				font-weight: 600;
				font-size: em(12px);
				display: grid;
				color: $white;
			}
		}
	}

	&_Body {
		margin-top: em(16px);
		border-top: 1px solid rgba(255, 255, 255, 0.4);
		padding-top: em(16px);
		position: relative;
		@include iftablet {
		}
		@include ifmobile {
		}
		li {
			font-weight: 300;
			font-size: em(14px);
			line-height: 160%;
			color: rgba(255, 255, 255, 0.7);
			padding-left: em(25px);
			position: relative;
			@include iftablet {
				font-size: em(12px);
			}
			@include ifmobile {
				font-size: em(12px);
			}
			&::before {
				content: '';
				position: absolute;
				display: block;
				width: 2px;
				height: 2px;
				background: rgba(255, 255, 255, 0.7);
				left: em(10px);
				top: em(13px);
				@include iftablet {
				}
				@include ifmobile {
				}
			}
		}
	}
}

@include iftablet {
}
@include ifmobile {
}
