.BaseInput {
	font-size: inherit;
	position: relative;
	display: flex;
	flex-direction: column;
}

.Input {
	@include ifdesktop {
		$size: 20px;
		font-size: em($size);
		height: em(50px, $size);
		padding: em(20px, $size) 0 em(3px, $size);
	}
	$size: 16px;
	line-height: 140%;
	font-weight: 300;
	color: $white;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	font-size: em($size);
	height: em(50px, $size);
	padding: em(20px, $size) 0 em(3px, $size);
	background: none;
	outline: none;
	border: none;
	border-radius: 0;
	position: relative;
	box-shadow: none;
	background: transparent;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	transition: 0.5s ease all;
	-moz-transition: 0.5s ease all;
	-webkit-transition: 0.5s ease all;
	box-sizing: border-box;
	@include placeholder-color(transparent);

	&:hover {
		border-color: $white;
	}

	&:focus {
		border-color: $white;
		@include placeholder-color($white);
		& + .Label {
			$size: 12px;
			font-size: em(12px);
			left: 0;
			top: 0;
			color: $white;
		}
	}

	& + .NoEmpty {
		$size: 12px;
		font-size: em(12px);
		left: 0;
		top: 0;
	}

	&.Error + .Label {
		color: $red;
	}

	&_dark {
		color: $black;
		border-bottom: 1px solid rgba(26, 26, 26, 0.2);
		&:hover {
			border-color: $black;
		}

		&:focus {
			border-color: $black;
			@include placeholder-color(rgba(26, 26, 26, 0.2));
			& + .Label {
				color: rgba(26, 26, 26, 0.7);
			}
		}
	}
}

//disabled style
.Input:disabled,
.Input:disabled:hover,
.Input:disabled:focus {
	cursor: not-allowed;
	pointer-events: none;
	background: #f4f4f5;
	border: 1px solid #e5e7eb !important;
	color: rgba(26, 26, 26, 0.5);
}

.Icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: em(19px);
	width: em(28px);
	height: em(28px);
}

.IconPassword {
	cursor: pointer;
}

.Error {
	border-bottom: 1px solid $error !important;
}

.ErrorText {
	font-size: em(12px);
	font-family: 'Montserrat', sans-serif;
	line-height: 100%;
	color: $error;
	display: block;
	margin-top: em(10px);
	font-weight: 300;
}

.Label {
	position: absolute;
	pointer-events: none;
	font-size: em(14px);
	top: em(20px);
	left: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	line-height: 100%;
	color: rgba(255, 255, 255, 0.7);
	transition: all 0.3s ease;
	&_dark {
		color: rgba(26, 26, 26, 0.7);
	}
}
