.HeaderBg {
	position: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	height: 100vh;

	@include iflaptop {
		height: em(400px);
	}
	@include iftablet {
		height: em(300px);
	}
	@include ifmobile {
		background-position: left;
		height: em(240px);
	}
}

.Wrapper {
	height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	@include iflaptop {
		height: em(400px);
	}
	@include iftablet {
		height: em(300px);
	}
	@include ifmobile {
		height: em(240px);
	}

	.Container {
		@include iftablet {
			padding: 0 em(50px);
		}
	}
}

.Header {
	&_Title {
		margin-bottom: em(68px);

		@include iflaptop {
			margin-bottom: em(30px);
		}
		@include iftablet {
			margin-bottom: em(20px);
		}
		@include ifmobile {
			margin-bottom: em(16px);
		}
	}
}
