.Wrapper {
	padding-top: em(183px);
	padding-bottom: em(100px);
	@include iflaptop {
		padding-top: em(126px);
		padding-bottom: em(80px);
	}
	@include iftablet {
		padding-top: em(144px);
		padding-bottom: em(70px);
	}
	@include ifmobile {
		padding-top: em(110px);
		padding-bottom: em(50px);
	}
}

.BaseContainer {
	max-width: em(1920px);
	.Border {
		width: 100%;
		height: 1px;
		background: rgba(255, 255, 255, 0.2);
		margin-bottom: em(80px);
		@include iflaptop {
			margin-bottom: em(40px);
		}
		@include iftablet {
			margin-bottom: em(30px);
		}
		@include ifmobile {
			margin-bottom: em(30px);
		}
	}
}

.Title {
	margin-bottom: em(30px);
	@include iflaptop {
		margin-bottom: em(16px);
	}
	@include iftablet {
		margin-bottom: em(16px);
	}
	@include ifmobile {
		margin-bottom: em(12px);
	}
}

.News {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: em(24px) em(24px);
	margin-bottom: em(50px);

	@include iflaptop {
		grid-template-columns: 1fr 1fr;
		gap: em(20px) em(20px);
	}

	@include iftablet {
		grid-template-columns: 1fr 1fr;
		gap: em(20px) em(20px);
	}
	@include ifmobile {
		grid-template-columns: 1fr;
		gap: em(16px) 0;
		margin-bottom: em(44px);
	}

	.NewsItem {
		display: grid;
		grid-auto-rows: em(307px) auto;
		cursor: pointer;
		min-height: em(574px);
		height: 100%;
		@include iflaptop {
			grid-auto-rows: em(259px) auto;
			min-height: em(476px);
		}
		@include iftablet {
			grid-auto-rows: em(205px) auto;
			min-height: em(400px);
		}
		@include ifmobile {
			grid-auto-rows: em(196.8px) auto;
			min-height: em(387px);
		}
		&:hover {
			box-shadow: 0px 3px 25px rgba(180, 150, 53, 0.2);
			.NewsItem_Body {
				border-color: $white;
			}
		}

		&_Image {
			width: 100%;
			position: relative;
			overflow: hidden;
		}

		&_Body {
			display: flex;
			flex-direction: column;
			padding: em(30px) em(20px);
			border-left: 1px solid rgba(255, 255, 255, 0.2);
			border-right: 1px solid rgba(255, 255, 255, 0.2);
			border-bottom: 1px solid rgba(255, 255, 255, 0.2);
			box-sizing: border-box;
			@include iflaptop {
				padding: em(16px) em(16px);
			}
			@include iftablet {
				padding: em(16px) em(16px);
			}
			@include ifmobile {
				padding: em(15px) em(12px);
			}
		}

		.NewsItem_Title {
			margin-bottom: em(20px);
			@include iflaptop {
				margin-bottom: em(16px);
			}
			@include iftablet {
				margin-bottom: em(12px);
			}
			@include ifmobile {
				margin-bottom: em(12px);
			}
			span {
				font-weight: 500;
				font-size: em(26px);
				line-height: 140%;
				color: $white;
				-webkit-line-clamp: 2;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				overflow: hidden;
				@include iflaptop {
					font-size: em(22px);
				}
				@include iftablet {
					font-size: em(20px);
				}
				@include ifmobile {
					font-size: em(20px);
				}
			}
		}

		.NewsItem_Description {
			margin-bottom: em(20px);
			p {
				font-weight: 400;
				font-size: em(18px);
				line-height: 140%;
				color: rgba(255, 255, 255, 0.8);
				-webkit-line-clamp: 3;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				overflow: hidden;
				@include iflaptop {
					font-size: em(16px);
				}
				@include iftablet {
					font-size: em(14px);
				}
				@include ifmobile {
					font-size: em(14px);
				}
			}
		}

		.NewsItem_Info {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			margin-top: auto;

			&_Author,
			&_Date {
				font-weight: 500;
				font-size: em(14px);
				line-height: 140%;
				color: rgba(255, 255, 255, 0.8);
				@include iflaptop {
					font-size: em(12px);
				}
				@include iftablet {
					font-size: em(11px);
				}
				@include ifmobile {
					font-size: em(11px);
				}
			}
		}
	}
}

.Button {
	margin: 0 auto;
}
