.Container {
	width: 100%;
	padding: 0 em(50px);
	// top: -$navbar-height;
	// transition: top 0.3s;
	position: fixed;
	z-index: 100000;
	top: 0;

	@include iflaptop {
		padding: 0 em(20px);
	}

	@include iftablet {
		padding: 0 em(20px);
	}

	@include ifmobile {
		padding: 0 em(16px);
	}

	.Navbar {
		width: 100%;
		max-width: em(1820px);
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-top: em(10px);
		padding-bottom: em(10px);
		position: relative;

		@include iflaptop {
			padding-top: em(29px);
		}

		@include iftablet {
			padding-top: em(28px);
		}

		@include ifmobile {
			padding-top: em(21px);
		}

		&_Logo {
			width: em(207px);
			height: em(33px);
			margin-right: em(70px);
			position: relative;
			z-index: 1000;

			@include iflaptop {
				width: em(141px);
				height: em(22px);
			}

			@include iftablet {
				width: em(115px);
				height: em(18px);
			}

			@include ifmobile {
				width: em(134px);
				height: em(21px);
			}
		}

		&_List {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			margin-right: auto;
			&_Item {
				@include ifdesktop {
					margin-right: em(50px);
					&:last-child {
						margin-right: 0;
					}
				}
				@include iftablet {
					margin-bottom: em(54px);
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}

		&_SignUp {
			font-size: em(22px);
			font-weight: 400;
			white-space: nowrap;
			font-style: normal;
			color: $white;
			position: relative;
			width: max-content;
			margin-right: em(20px);

			@include ifdesktop {
				font-size: em(18px);
				margin-left: em(50px);
			}

			&::after {
				content: '';
				position: absolute;
				bottom: em(-5px);
				left: 0;
				height: em(1px);
				background-color: $orange;
			}
			&:hover {
				&::after {
					animation: bottomLine 0.3s linear forwards;
				}
			}

			@keyframes bottomLine {
				0% {
					width: 0%;
				}
				100% {
					width: 100%;
				}
			}
		}

		&_Login {
			width: em(106px);
			height: em(50px);
		}
	}

	.Desktop {
		@media only screen and (max-width: 1800px) {
			display: none;
		}
	}

	.Drawer {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;

		&_Wrapper {
			display: grid;
			min-height: 100%;
		}

		&_Burger {
			width: em(36px);
			cursor: pointer;
			position: absolute;
			top: em(20px);
			right: em(50px);
			z-index: 10000;

			@include iflaptop {
				top: em(32px);
				right: em(20px);
			}

			@include iftablet {
				top: em(28px);
				right: em(20px);
			}

			@include ifmobile {
				width: em(30px);
				right: em(16px);
				top: em(25px);
			}

			span {
				display: block;
				width: 100%;
				border-radius: em(10px);
				height: em(2px);
				background: $white;
				transition: all 0.3s;
				position: relative;
				&:nth-child(2) {
					width: 90%;
				}
				&:nth-child(3) {
					width: 45%;
				}
			}

			span + span {
				margin-top: em(4px);
			}

			&_Active span:nth-child(1) {
				animation: ease 0.7s top forwards;
			}

			&_NotActive span:nth-child(1) {
				animation: ease 0.7s top-2 forwards;
			}

			&_Active span:nth-child(2) {
				animation: ease 0.7s scaled forwards;
			}

			&_NotActive span:nth-child(2) {
				animation: ease 0.7s scaled-2 forwards;
			}

			&_Active span:nth-child(3) {
				width: 100%;
				animation: ease 0.7s bottom forwards;
			}

			&_NotActive span:nth-child(3) {
				animation: ease 0.7s bottom-2 forwards;
			}
		}

		&_Navbar {
			position: fixed;
			top: 0;
			background: #282828;
			padding: 0;
			z-index: 1000;
			width: 0;
			height: 100%;
			overflow: hidden;
			overflow-y: auto;
			box-sizing: border-box;
			width: em(358px);
			padding: em(150px) em(50px) em(42px);
			padding-bottom: em(42px);
			transition: right 0.5s cubic-bezier(0.82, 0.085, 0.395, 0.895);
			right: -100%;

			@include iftablet {
				padding: em(150px) em(50px) em(75px);
			}
			@include ifmobile {
				width: 100vw;
				padding: em(80px) em(50px) em(30px);
				text-align: center;
			}
			&_Visible {
				right: 0;
			}

			&_List {
				&_Item {
					margin-bottom: em(30px);

					@include iftablet {
						margin-bottom: em(40px);
					}

					@include ifmobile {
						margin-bottom: em(24px);
					}
				}
			}

			&_Actions {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				border-top: 1px solid rgba(255, 255, 255, 0.2);
				margin-top: auto;
				padding-top: em(30px);

				&_SignUp {
					font-size: em(22px);
				}
			}

			&_Logo {
				position: absolute;
				z-index: -1;
				top: em(77px);
				left: em(92px);
				opacity: 0.02;
				width: em(327px);
				height: em(358px);
				@include ifmobile {
					top: em(43px);
					right: 0;
					left: auto;
				}
			}
		}
	}

	.Mobile {
		@media only screen and (min-width: 1800px) {
			display: none;
		}
	}
}

.Fixed {
	z-index: 1000;
	background: $body;
	box-shadow: 0px 1px 1px rgba(18, 18, 18, 0.3);
}

@keyframes top {
	0% {
		top: 0;
		transform: rotate(0);
	}
	50% {
		top: em(6px);
		transform: rotate(0);
	}
	100% {
		top: em(6px);
		transform: rotate(45deg);
	}
}

@keyframes top-2 {
	0% {
		top: em(6px);
		transform: rotate(45deg);
	}
	50% {
		top: em(6px);
		transform: rotate(0deg);
	}
	100% {
		top: 0;
		transform: rotate(0deg);
	}
}

@keyframes bottom {
	0% {
		bottom: 0;
		transform: rotate(0);
	}
	50% {
		bottom: em(6px);
		transform: rotate(0);
	}
	100% {
		bottom: em(6px);
		transform: rotate(135deg);
	}
}

@keyframes bottom-2 {
	0% {
		bottom: em(6px);
		transform: rotate(135deg);
	}
	50% {
		bottom: em(6px);
		transform: rotate(0);
	}
	100% {
		bottom: 0;
		transform: rotate(0);
	}
}

@keyframes scaled {
	50% {
		transform: scale(0);
	}
	100% {
		transform: scale(0);
	}
}

@keyframes scaled-2 {
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
