.Wrapper {
	background: url('/images/image/404-bg.jpeg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.BaseContainer {
	@include iflaptop {
		padding: 0 em(20px);
	}
}

.Body {
	min-height: 100vh;
	@extend %center;
	flex-direction: column;
	position: relative;

	.Borders {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		&_Item {
			min-height: 100%;
			width: 1px;
			background: rgba(255, 255, 255, 0.2);

			@include ifmobile {
				background: rgba(255, 255, 255, 0.05);
			}
		}
	}

	.Title {
		margin-bottom: em(20px);
		h1 {
			font-weight: 700;
			font-size: em(170px);
			line-height: 130%;
			-webkit-text-stroke: 1px $orange;
			-webkit-text-fill-color: transparent;
			font-family: Arial, sans-serif;
			@include iflaptop {
				font-size: em(130px);
			}
			@include iftablet {
				font-size: em(100px);
			}
			@include ifmobile {
				font-size: em(70px);
			}
		}
	}

	.Subtitle {
		max-width: em(550px);
		margin-bottom: em(5px);
		text-align: center;
		@include iflaptop {
		}
		@include iftablet {
			max-width: em(450px);
		}
		@include ifmobile {
			max-width: em(300px);
		}
		p {
			font-weight: 400;
			font-size: em(30px);
			line-height: 130%;
			color: $white;
			@include iflaptop {
				font-size: em(26px);
			}
			@include iftablet {
				font-size: em(22px);
			}
			@include ifmobile {
				font-size: em(18px);
			}
		}
	}
}

@include iflaptop {
}
@include iftablet {
}
@include ifmobile {
}
