.SelectContainer {
	position: relative;
}

.SelectHeader {
	position: relative;
	cursor: pointer;
	display: flex;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	height: em(50px);
	position: relative;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: em(8px);
	transition: 0.5s ease all;
	-moz-transition: 0.5s ease all;
	-webkit-transition: 0.5s ease all;
	background: transparent;
	padding: em(12px) em(20px);
	@include iftablet {
		height: em(44px);
		padding: em(12px) em(16px);
	}
	@include ifmobile {
		height: em(44px);
		padding: em(12px) em(12px);
	}

	&:hover {
		border-color: $white;
	}

	p {
		font-size: em(18px);
		line-height: 100%;
		font-weight: 300;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		color: $white;
		@include iftablet {
			font-size: em(16px);
		}
		@include ifmobile {
			font-size: em(14px);
		}
	}

	.NotEmpty {
		position: relative;
		color: $white;
	}
}

.SelectHeaderFocus {
	border: 1px solid $white;
}

.SelectList {
	position: absolute;
	top: em(59px);
	z-index: 100000;
	width: 100%;
	background: $white;
	max-height: em(200px);
	overflow: auto;
	scrollbar-width: none; /* For Firefox */
	-ms-overflow-style: none; /* For Internet Explorer and Edge */
	padding: em(8px) 0;
	background: $body;
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: 0px 2.5px 4px rgba(18, 18, 18, 0.7);
	border-radius: em(4px);
}

.SelectList::-webkit-scrollbar {
	width: em(4px);
}
.SelectList::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 100px;
}

.ListItem {
	cursor: pointer;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: em(12px) em(16px) em(12px) em(20px);
	&:hover {
		background: rgba(255, 255, 255, 0.05);
	}

	&_Active {
		cursor: default;
		background: transparent;
	}

	.ListItemTitle {
		font-size: em(18px);
		font-weight: 300;
		line-height: 140%;
		font-family: 'Montserrat', sans-serif;
		color: $white;
		@include iftablet {
			font-size: em(16px);
		}
		@include ifmobile {
			font-size: em(14px);
		}
	}

	.IconCheck {
		width: em(30px);
		height: em(30px);
	}
}

.Label {
	$size: 18px;
	font-size: em($size);
	top: em(16px, $size);
	left: em(20px, $size);
	position: absolute;
	pointer-events: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	line-height: 100%;
	color: rgba(255, 255, 255, 0.7);
	transition: all 0.3s ease;
	@include iftablet {
		$size: 16px;
		font-size: em($size);
		top: em(15px, $size);
		left: em(16px, $size);
	}
	@include ifmobile {
		$size: 14px;
		font-size: em($size);
		top: em(16px, $size);
		left: em(12px, $size);
	}

	&_Focus {
		display: none;
	}
}

.Error {
	border: 1px solid #ef4343 !important;
}

.ErrorText {
	font-size: em(12px);
	font-family: 'Montserrat', sans-serif;
	line-height: 100%;
	color: #ef4343;
	display: block;
	margin-top: em(10px);
	font-weight: 300;
}

.IconArrow {
	width: em(24px);
	height: em(24px);
	position: absolute;
	bottom: emn(10px);
	right: em(16px);
	transition: transform 0.6s ease;
}

.IconArrowActive {
	transform: rotate(180deg);
}

.Disabled {
	cursor: not-allowed;
	pointer-events: none;
	background: #f4f4f5;
	border: 1px solid #e5e7eb !important;
}

.Select_mini {
	.SelectHeader {
		height: em(44px);
	}
}

@include iflaptop {
}
@include iftablet {
}
@include ifmobile {
}
