.Wrapper {
	position: relative;
	z-index: 99;
	background: $body;
	padding: 0 em(50px);
	@include iflaptop {
		padding: 0 em(50px);
		border-top: 1px solid rgba(255, 255, 255, 0.2);
	}
	@include iftablet {
		padding: 0 em(20px);
		border-top: 1px solid rgba(255, 255, 255, 0.2);
	}

	@include ifmobile {
		padding: 0;
	}
}

.Container {
	width: 100%;
	max-width: em(1820px);
	margin: 0 auto;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	&_White {
		border-top: 1px solid rgba(26, 26, 26, 0.2);
	}

	@include iflaptop {
		border-top: none;
	}
	@include iftablet {
		border-top: none;
	}
}

.Footer {
	display: grid;
	grid-template-columns: em(207px) 1fr;
	gap: 0 em(142px);
	padding: em(53px) 0 em(83px);
	position: relative;

	@media only screen and (max-width: 1760px) {
		grid-template-columns: em(186px) 1fr;
		gap: 0 em(30px);
		padding: em(30px) 0 em(40px);
	}

	@include iftablet {
		grid-template-columns: 1fr;
		gap: em(32px) 0;
		padding: em(30px) 0 em(40px);
	}

	@include ifmobile {
		grid-template-columns: 1fr;
		gap: em(26px) 0;
		padding: em(36px) em(10px) em(16px);
	}

	&_LogoSocial {
		display: flex;
		flex-direction: column;
		@include ifmobile {
			align-items: center;
		}

		&_Logo {
			@include ifdesktop {
				width: em(207px);
				height: em(33px);
			}
			width: em(170px);
			height: em(28px);
			margin-bottom: em(68px);
			@include iftablet {
				margin-bottom: 0;
			}

			@include ifmobile {
				margin-bottom: em(32px);
			}
		}

		&_Socials {
			@include iflaptop {
				margin-top: auto;
			}

			@include iftablet {
				position: absolute;
				left: 0;
				bottom: em(40px);
			}

			@include ifmobile {
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			&_Items {
				display: flex;
				flex-direction: row;
				margin-bottom: em(16px);
				@include ifmobile {
					margin-bottom: 0;
				}

				.SocialItem {
					width: em(23px);
					height: em(24px);
					margin-right: em(24px);
					cursor: pointer;
					&:last-child {
						margin-right: 0;
					}
					&:hover {
						path {
							fill: $orange;
						}
					}

					&_White {
						svg path {
							fill: $black;
						}
						&:hover {
							path {
								fill: $blue;
							}
						}
					}
				}
			}

			&_Copywriting {
				@include ifmobile {
					position: absolute;
					left: em(10px);
					bottom: em(24px);
				}
				p {
					font-weight: 300;
					font-size: em(12px);
					line-height: 130%;
					color: $white;
					@include iflaptop {
						font-size: em(11px);
					}
					@include ifmobile {
						font-size: em(10px);
						opacity: 0.8;
					}
				}
				&_White {
					p {
						color: $black;
					}
				}
			}
		}
	}

	&_NavbarPartners {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;

		@include iflaptop {
			flex-wrap: wrap;
		}

		@include iftablet {
			flex-wrap: wrap;
		}

		@include ifmobile {
			flex-wrap: wrap;
		}

		&_Navbar {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			gap: 0 em(100px);
			max-width: em(1042px);
			margin-right: em(30px);
			list-style: none;

			@media only screen and (max-width: 1760px) {
				gap: 0 em(36px);
				margin-right: 0;
				margin-bottom: em(30px);
			}

			@include iflaptop {
				max-width: em(698px);
			}

			@include iftablet {
				gap: 0 em(45px);
				margin-bottom: em(42px);
			}

			@include ifmobile {
				width: 100%;
				grid-template-columns: 1fr 1fr;
				gap: em(18px) em(32px);
				margin-bottom: em(26px);
			}

			.Link {
				@include ifmobile {
					padding-top: em(18px);
					border-top: 1px solid rgba(255, 255, 255, 0.2);
				}
				&_Title {
					margin-bottom: em(20px);
					@include ifmobile {
						margin-bottom: em(16px);
					}

					span {
						font-weight: 400;
						font-size: em(18px);
						line-height: 130%;
						color: $white;
						white-space: nowrap;
						@include iflaptop {
							font-size: em(16px);
						}
						@include iftablet {
							font-size: em(14px);
						}

						@include ifmobile {
							font-size: em(14px);
						}
					}
					&_White {
						span {
							color: $black;
						}
					}
				}

				&_List {
					&_Item {
						display: flex;
						margin-bottom: em(14px);
						@include iflaptop {
							margin-bottom: em(10px);
						}
						@include iftablet {
							margin-bottom: em(10px);
						}
						@include ifmobile {
							margin-bottom: em(12px);
						}

						&:last-child {
							margin-bottom: 0;
						}

						a {
							font-weight: 300;
							font-size: em(14px);
							line-height: 130%;
							color: $white;
							white-space: nowrap;
							position: relative;
							width: max-content;
							@include iflaptop {
								font-size: em(12px);
							}

							@include iftablet {
								font-size: em(12px);
							}

							@include ifmobile {
								font-size: em(12px);
								opacity: 0.8;
							}

							&::after {
								content: '';
								position: absolute;
								bottom: em(-5px);
								left: 0;
								height: em(1px);
								background-color: $orange;
							}
							&:hover {
								&::after {
									animation: bottomLine 0.3s linear forwards;
								}
							}
						}
						&_White {
							a {
								color: $black;
								&::after {
									background-color: $blue;
								}
							}
						}
					}
				}
			}
		}

		&_Partners {
			width: em(234px);
			height: em(54px);
			margin-top: auto;
			@include iflaptop {
				width: em(158.56px);
				height: em(36px);
				margin-top: 0;
				margin-left: auto;
			}
			@include iftablet {
				width: em(171.39px);
				height: em(36px);
				margin-top: 0;
				margin-left: auto;
			}

			@include ifmobile {
				width: em(123.32px);
				height: em(28px);
				margin-top: 0;
				margin-left: auto;
			}
			&_White path {
				fill: $black;
			}
		}
	}
}

@keyframes bottomLine {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}
