.Wrapper {
	position: relative;
	background: #2d2d2d;
	overflow: hidden;
	&_Gradient {
		position: absolute;
		z-index: 10;
		top: 0;
		left: 0;
		width: 100%;
		height: em(145px);
		background: linear-gradient(
			180deg,
			#2d2d2d 51.98%,
			rgba(45, 45, 45, 0) 99.56%
		);
		@include iflaptop {
			height: em(106px);
		}
		@include iftablet {
			height: em(79px);
		}
		@include ifmobile {
			height: em(58px);
		}
	}
}

.BaseContainer {
	padding: 0 em(20px);
	@include ifdesktop {
		max-width: em(1530px);
	}
	@include iflaptop {
		padding: 0;
	}
	@include iftablet {
		padding: 0;
	}
	@include ifmobile {
		padding: 0;
	}
}
.Map {
	display: flex;
	flex-direction: column;
	position: relative;
	padding: em(40px) 0 em(114px);
	min-height: em(983px);
	@include iflaptop {
		min-height: em(784px);
		padding: em(30px) 0 em(149px);
	}
	@include iftablet {
		min-height: em(606px);
		padding: em(20px) 0 em(94px);
	}
	@include ifmobile {
		min-height: em(372px);
		padding: em(20px) 0 em(40px);
	}

	&_Title {
		text-align: center;
		margin-bottom: em(5px);
		position: relative;
		z-index: 11;
		@include ifdesktop {
			margin-bottom: em(10px);
		}
		h2 {
			font-weight: 400;
			font-size: em(40px);
			line-height: 140%;
			color: $white;
			@include iflaptop {
				font-size: em(22px);
			}
			@include iftablet {
				font-size: em(18px);
			}
			@include ifmobile {
				font-size: em(14px);
			}
		}
	}

	&_Subtitle {
		text-align: center;
		position: relative;
		z-index: 11;
		p {
			font-weight: 300;
			font-size: em(18px);
			line-height: 140%;
			color: rgba(255, 255, 255, 0.7);
			@include iflaptop {
				font-size: em(16px);
			}
			@include iftablet {
				font-size: em(14px);
			}
			@include ifmobile {
				font-size: em(10px);
			}
		}
	}

	&_Logo {
		opacity: 0.05;
		position: absolute;
		width: em(127px);
		height: em(139px);
		left: 0;
		bottom: em(176px);
		@include iflaptop {
			width: em(109px);
			height: em(119px);
			left: em(80px);
			bottom: em(105px);
		}
		@include iftablet {
			width: em(77px);
			height: em(84px);
			left: em(49px);
			bottom: em(80px);
		}
		@include ifmobile {
			width: em(45px);
			height: em(49px);
			left: em(10px);
			bottom: em(132px);
		}
	}

	&_Buttons {
		display: none;
		flex-direction: row;
		flex-wrap: wrap;
		gap: em(10px) em(10px);
		padding: 0 em(10px);
		margin-top: auto;

		@include ifmobile {
			display: flex;
		}
		&_Item {
			height: em(36px);
			padding: em(8px) em(15px);
			& > div {
				font-size: em(14px) !important;
			}
		}
	}

	&_Map {
		position: absolute;
		z-index: 0;
		max-width: em(1530px);
		top: em(-119px);
		right: 50%;
		transform: translate(50%, 00%);
		width: 100%;
		height: em(988px);
		@include iflaptop {
			top: em(-75px);
			height: em(710px);
		}
		@include iftablet {
			top: em(-70px);
			height: em(582px);
		}
		@include ifmobile {
			top: em(12px);
			height: em(265px);
		}

		svg {
			width: inherit;
			height: inherit;
		}

		.Tooltip {
			cursor: pointer;

			&:hover {
				.rect1,
				.path {
					fill: rgba(70, 62, 38, 0.5);
				}
				.Title {
					fill: $white;
				}
			}
			&:active {
				.rect1,
				.path {
					fill: #463e26;
				}
				.Title {
					fill: $white;
				}
			}

			@include ifmobile {
				display: none;
			}
		}

		.Continent {
			position: relative;
			cursor: pointer;
			&:hover {
				animation: gradient 2s linear infinite;
			}
		}
	}
}
.CountryLicensingPopup {
	div > div {
		max-width: em(922px);
	}
	@include iflaptop {
		div > div {
			max-width: em(744px);
		}
	}
	@include iftablet {
		div > div {
			max-width: em(717px);
		}
	}
	@include ifmobile {
		div > div {
			max-width: em(340px);
		}
	}
}
@keyframes gradient {
	0% {
		stroke: #b49635;
	}
	50% {
		stroke: #413100;
	}
	100% {
		stroke: #b49635;
	}
}

@include iflaptop {
}
@include iftablet {
}
@include ifmobile {
}
