@import './../src/assets/scss/core.scss';

.Wrapper {
	background: $body;
}

.marquee {
	@include ifdesktop {
		column-gap: em(75px) !important;
	}
	column-gap: em(45px) !important;
	svg {
		width: inherit;
		height: inherit;
	}
}
