.Feedback {
	display: grid;
	grid-template-columns: 1fr 1fr;
	position: relative;
	z-index: 100;
	margin-bottom: -1px;
	padding-right: em(50px);
	border-top: 1px solid rgba(26, 26, 26, 0.2);
	background: #222222;
	@include iflaptop {
		grid-template-columns: em(443px) 1fr;
		padding-right: em(40px);
	}
	@include iftablet {
		padding-right: 0;
		grid-template-columns: 1fr;
	}
	@include ifmobile {
		grid-template-columns: 1fr;
		padding-right: 0;
	}
	&_Image {
		background-image: url('/images/image/compliance-feedback-form-bg.jpeg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		@include iftablet {
			height: em(268px);
			background-position: bottom;
		}
		@include ifmobile {
			background-position: bottom;
			height: em(144px);
		}
	}
	&_Body {
		.Form {
			min-height: em(451px);
			max-width: em(758px);
			padding: em(50px) 0 em(50px) em(67px);
			@include iflaptop {
				max-width: 100%;
				min-height: em(302px);
				padding: em(44px) 0 em(42px) em(25px);
			}
			@include iftablet {
				max-width: em(537px);
				min-height: em(280px);
				padding: em(30px) 0 em(50px) em(20px);
			}
			@include ifmobile {
				min-height: em(350px);
				padding: em(20px) em(10px) em(20px);
			}

			&_Title {
				margin-bottom: em(30px);
				@include iflaptop {
					margin-bottom: em(12px);
				}
				@include iftablet {
					margin-bottom: em(12px);
				}
				@include ifmobile {
					margin-bottom: em(16px);
				}
				h3 {
					font-weight: 400;
					font-size: em(30px);
					line-height: 140%;
					color: $white;
					@include iflaptop {
						font-size: em(18px);
					}
					@include iftablet {
						font-size: em(18px);
					}
					@include ifmobile {
						font-size: em(16px);
					}
				}
			}

			&_Subtitle {
				max-width: em(600px);
				margin-bottom: em(50px);
				@include iflaptop {
					max-width: em(400px);
					margin-bottom: em(12px);
				}
				@include iftablet {
					max-width: em(400px);
					margin-bottom: em(12px);
				}
				@include ifmobile {
					margin-bottom: em(20px);
				}
				p {
					font-weight: 300;
					font-size: em(12px);
					line-height: 140%;
					color: rgba(255, 255, 255, 0.7);
					@include ifdesktop {
						font-size: em(18px);
					}
					a {
						color: $orange;
					}
				}
			}

			&_Inputs {
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 0 em(20px);
				margin-bottom: em(60px);
				@include iflaptop {
					margin-bottom: em(30px);
					gap: 0 em(16px);
				}
				@include iftablet {
					grid-template-columns: 1fr 1fr;
					margin-bottom: em(30px);
					gap: 0 em(16px);
				}
				@include ifmobile {
					grid-template-columns: 1fr;
					margin-bottom: em(44px);
					gap: em(16px) 0;
				}
			}

			&_Button {
				div {
					color: $orange;
				}
				svg path {
					stroke: $orange;
				}
			}

			&_Submit {
				max-width: em(800px);
				height: em(451px);
				padding: em(20px) em(20px) em(20px) em(60px);
				animation-name: FadeIn;
				animation-duration: 2s;
				transition-timing-function: linear;
				@include iflaptop {
					height: em(302px);
					padding: em(20px);
				}
				@include iftablet {
					height: em(280px);
					padding: em(20px);
				}
				@include ifmobile {
					height: em(350px);
					padding: em(20px) em(10px);
				}
			}
		}
	}
}
@include keyframe(FadeIn) {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
