.Eco {
	position: relative;

	.Borders {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		@include ifmobile {
			&_Item:nth-child(2),
			&_Item:nth-child(3) {
				display: none;
			}
		}
		&_Item {
			min-height: 100%;
			width: 1px;
			background: rgba(255, 255, 255, 0.05);
		}
	}

	.Body {
		padding: em(150px) 0 em(160px);
		position: relative;
		@include iflaptop {
			padding: em(62px) 0 em(100px);
		}
		@include iftablet {
			padding: em(50px) 0 em(70px);
		}
		@include ifmobile {
			padding: em(40px) 0 em(50px);
		}

		.Quotes {
			display: grid;
			grid-template-columns: 1fr;
			gap: em(30px) 0;
			margin-bottom: em(40px);
			max-width: em(1270px);
			margin-left: em(40px);
			@include iflaptop {
				gap: em(30px) 0;
				margin-bottom: em(30px);
				margin-left: 0;
				padding: 0 em(20px);
			}
			@include iftablet {
				gap: em(20px) 0;
				margin-bottom: em(20px);
				margin-left: 0;
				padding: 0 em(20px);
			}
			@include ifmobile {
				gap: em(20px) 0;
				margin-bottom: em(20px);
				margin-left: 0;
				padding: 0 em(6px);
			}
			h2 {
				color: $white;
				font-weight: 400;
				font-size: em(40px);
				line-height: 140%;
				@include iflaptop {
					font-size: em(30px);
				}
				@include iftablet {
					font-size: em(22px);
				}
				@include ifmobile {
					font-size: em(18px);
				}
			}
		}

		.Text {
			display: grid;
			grid-template-columns: 1fr 1fr;
			max-width: em(1037px);
			gap: 0 em(73px);
			margin-left: auto;
			margin-right: em(12px);
			@include iflaptop {
				max-width: em(580px);
				gap: 0 em(30px);
				margin-right: em(15px);
			}
			@include iftablet {
				max-width: em(462px);
				gap: 0 em(24px);
				margin-right: em(12px);
			}
			@include ifmobile {
				grid-template-columns: 1fr;
				max-width: 100%;
				gap: em(16px) 0;
				margin-right: 0;
				padding: 0 em(6px);
			}
			p {
				font-weight: 400;
				font-size: em(18px);
				line-height: 140%;
				color: rgba(255, 255, 255, 0.7);
				@include iflaptop {
					font-size: em(16px);
				}
				@include iftablet {
					font-size: em(16px);
				}
				@include ifmobile {
					font-size: em(14px);
				}
				span {
					color: $white;
				}
				a {
					cursor: pointer;
					color: $orange;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

@include iflaptop {
}
@include iftablet {
}
@include ifmobile {
}
