.Link {
	a {
		font-size: em(22px);
		font-weight: 300;
		white-space: nowrap;
		font-style: normal;
		color: $white;
		position: relative;
		width: max-content;

		@include ifdesktop {
			font-size: em(18px);
		}

		&::after {
			content: '';
			position: absolute;
			bottom: em(-5px);
			left: 0;
			height: em(1px);
			background-color: $orange;
		}
		&:hover {
			&::after {
				animation: bottomLine 0.3s linear forwards;
			}
		}
	}
}

@keyframes bottomLine {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}
