.Wrapper {
	min-height: 100vh;
	position: relative;
}

.Container {
	width: 100%;
	max-width: em(1620px);
	margin: 0 auto;
}

.Header {
	display: flex;
	min-height: 100vh;
	&_Title {
		align-self: flex-end;
		margin-top: auto;
		padding-bottom: em(68px);
		h1 {
			font-weight: 400;
			font-size: em(60px);
			line-height: 130%;
			color: $white;
		}
	}
}
